@{
    ViewBag.Title = "Contact Information";
}

<div class="jumbotron" id="contact_jumbo">
    <h1>@ViewBag.Title</h1>
    <p>@ViewBag.Message</p>
</div>


<div class="row">
    <div class="col-lg-12">
        <h3>
            <i class="fa fa-terminal"></i> IT Students
        </h3>
        <p>
            <ul>
                <li>
                    Antony Kalogeropoulos, <a href="mailto:A.Kalogeropoulos@acg.edu">A.Kalogeropoulos@acg.edu</a>
                </li>
                <li>
                    Rizart Dokollari, <a href="mailto:R.Dokollari@acg.edu">R.Dokollari@acg.edu</a>
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>
            <i class="fa fa-university"></i> CIS professors
        </h3>
        <p>
            <ul>
                <li>
                    Kostas Leftheriotis, <a href="mailto:kolef@acg.edu">kolef@acg.edu</a>
                </li>
                <li>
                    Manos Varouchas, <a href="mailto:evarouhas@acg.edu">evarouhas@acg.edu</a>
                </li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>
            <i class="fa fa-map-marker"></i> Address
        </h3>
        DEREE - The American College of Greece<br/>
        School of Business<br/>
        Department of Computer Information Systems<br/>
        6 Gravias Street<br/>
        Aghia Paraskevi, 15342<br/>
        Athens, Greece<br/>
        Tel: 0030 210 6009800, ext. 1141<br/>
        <a href="http://www.acg.edu">www.acg.edu</a>
    </div>
</div>