@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <p>
        The main objective of this website is to foster and develop a cooperative relationship between the academia and the Information & Communications Technology (ICT) industry in Greece.
    </p>
</div>

<p>
    A synergy between DEREE CIS department and BYTE Computer has been established to develop a website to inform and advise new entrepreneurs, public and private firms interested in establishing or upgrading the IS and infrastructure of their business. CIS students have performed the requirements specification process and also developed a prototype website in the framework of the software development courses in their major program of study with content provided by Byte Computer SA. Following this, senior IT students have implemented and updated it.
</p>

<p>
    The CIS and IT students who worked for the analysis and development of the website under the supervision of Professors Manos Varouhas and Kostas Leftheriotis are:
    <ul>
        <li>Mark Kethisouaran, CIS</li>
        <li>Gregory Kyriazis, CIS/A&amp;F</li>
        <li>Julia Pustowoj, CIS</li>
        <li>Antony Kalogeropoulos, IT</li>
        <li>Rizart Dokollari, IT</li>
    </ul>
</p>

<p>
    The academic department of Computer Information Systems (CIS) was established in the beginning of the 1980s at DEREE offering one of the first accredited information systems programs in Greece. Today, through academic collaborations, professional partnerships with top global corporations and an expanding network of professionals we aim at exposing students to latest trends and best practices in management information systems and therefore add value to their studies.
</p>
<p>
    ΒΥΤΕ Computer SA is a leading Greek Information and Communications Technology (ICT) Integrator with a dynamic presence of over 30 years in the Greek ICT Market and focus on the private sector. At the same time BYTE is among the five leading ICT vendors that successfully carry out projects in the Greek public sector, which is absorbing the largest share of our national economy.
</p>
<h3>Resource People</h3>
<p>
    <ul>
        <li>Apostolos Kapetanios, BYTE Computer</li>
        <li>Maria Vyzantiou, BYTE Computer</li>
        <li>Prof. Maira Kotsovoulou, DEREE, IT</li>
        <li>Prof. Vassia Stefanou, DEREE, CIS</li>
    </ul>
</p>
<h3>Tools and Technologies used</h3>
<div class="list-group">
    <a class="list-group-item" href="http://www.asp.net/mvc/mvc5">ASP.NET MVC 5 - Web Application Framework</a>
    <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx" class="list-group-item">Visual Studio Community - Integrated Development Environment</a>
    <a href="http://getbootstrap.com/" class="list-group-item">Bootstrap 3 - Front-End Framework</a> 
    <a href="https://github.com/Hub-IT/itpedia" class="list-group-item">OpenSource</a>
    <a href="https://git-scm.com/" class="list-group-item">Git - Source Code Management System</a>
    <a href="https://www.jetbrains.com/resharper/" class="list-group-item">ReSharper - Visual Studio Extension for .NET Developers</a>
</div>