@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
        <p>
            The purpose of ITPedia is educational. It informs the public about the Information & Communications Technologies’ (ICT)
            infrastructure of their business enterprise.
        </p>

        <p>
            Senior students participated in the analysis and the development of the web site under the supervision of Professors, E. Varouhas and K. Leftheriotis
        </p>

        <p>
            The students used Visual Studio 2012 as a development environment and implemented MVC 4, with C#.
        </p>

        <p>
            Special thanks are in order for the students M. Kethisouaran, and E. Lasithiotakis
        </p>

        <p>
            Select @Html.ActionLink("Configuration", "Index", "Configuration") from the Menu to receive an IT configuration suggestion
        </p>
    </div>
</div>

<blockquote>
    <h4>Application upgraded. 9/1/2015</h4>
    <ul>
        <li>Update MVC4 to MVC5.</li>
        <li>Use Visual Studio Community IDE</li>
        <li>Use Bootstrap 3 front-end framework to render application view.</li>
        <li>Provide users with with a wide list of <a href="https://bootswatch.com/">Bootswatch</a> themes to select from.</li>
        <li>
            Refactor project to follow convetions.
            <ul>
                <li>Code Refactoring</li>
                <li>Refactor JQuery listener for select option on configuration page</li>
            </ul>
        </li>
        <li>Use <a href="https://bitbucket.org/hub-it/itpedia">Bitbucket repository</a> to privately store source industryCode</li>
        <li>Construct installation, and developer guidelines located at the Bitbucket reposityr</li>
        <li>Provide alternative view layotu for results of a configuration page view</li>
    </ul>
    <small>Courtesy of <a href="https://github.com/Hub-IT">HubIT</a></small>
</blockquote>

