@{
    ViewBag.Title = "Acknowledgment";
}

<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
        <p>
            The purpose of ITPedia is educational. It informs the public about the Information & Communications Technologies’ (ICT)
            infrastructure of their business enterprise.
        </p>

        <p>
            Senior students participated in the analysis and the development of the web site under the supervision of Professors, E. Varouhas and K. Leftheriotis
        </p>

        <p>
            The students used Visual Studio 2012 as a development environment and implemented MVC 4, with C#.
        </p>

        <p>
            Special thanks are in order for the students M. Kethisouaran, and E. Lasithiotakis
        </p>

        <p>
            Select @Html.ActionLink("Configuration", "Index", "Home") from the Menu to receive an IT configuration suggestion
        </p>
    </div>
</div>

<blockquote>
    <ul>
        <li>
            MVC is udpated to MVC5. Visual studio community edition used.
        </li>
        <li>
            Use Bootstrap 3 for view rendering.
        </li>
        <li>
            Project is refactored to follow conventions. (Code reformat, JQuery listeners,  see <a href="https://bitbucket.org/hub-it/itpedia">repository storage location</a> for installation guide, guidelines for developers, etc...)
        </li>
    </ul>
    <small>Courtesy of <a href="https://github.com/Hub-IT">HubIT</a></small>
</blockquote>

