
@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select an item to view explanatory information</h2>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><img alt="Storage" height="20" width="20" src="/Content/img/kattekrab-mainframe.png" /> Hardware</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Server
                </li>
                <li class="list-group-item">
                    Desktop &amp; Laptop
                </li>
                <li class="list-group-item">
                    Printer
                </li>
                <li class="list-group-item">
                    Network Printer
                </li>
                <li class="list-group-item">
                    Scanner
                </li>
                <li class="list-group-item">
                    UPS
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><img alt="Storage" height="20" width="20" src="/Content/img/software.png" /> Software</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Desktop Operating System
                </li>
                <li class="list-group-item">
                    Small Business Server
                </li>
                <li class="list-group-item">
                    Windows Server
                </li>
                <li class="list-group-item">
                    E-Mail Server
                </li>
                <li class="list-group-item">
                    Backup Utility
                </li>
                <li class="list-group-item">
                    NMS
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><img alt="Storage" height="20" width="20" src="/Content/img/applications.png" /> Applications</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Office Applications
                </li>
                <li class="list-group-item">
                    ERP
                </li>
                <li class="list-group-item">
                    CRM
                </li>
                <li class="list-group-item">
                    Payroll
                </li>
                <li class="list-group-item">
                    HR System
                </li>
                <li class="list-group-item">
                    Custom Software Application
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><img alt="Storage" height="20" width="20" src="/Content/img/network.png" /> Networks</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    General Switches
                </li>
                <li class="list-group-item">
                    SOHO Switches
                </li>
                <li class="list-group-item">
                    Central & Workgroup Switches
                </li>
                <li class="list-group-item">
                    Firewall
                </li>
                <li class="list-group-item">
                    Router
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><img alt="Storage" height="20" width="20" src="/Content/img/storage.png" /> Storage</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    Internal
                </li>
                <li class="list-group-item">
                    Storage System
                </li>
                <li class="list-group-item">
                    SAN Storage System
                </li>
                <li class="list-group-item">
                    Tape Library
                </li>
            </ul>
        </div>
    </div>
</div>

