@using DB.Models
@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="Dic">
        <div class="row">
            <h3 class="text-center">Select an item to view explanatory information </h3>
            <div class="col-md-12 col-md-push-5">
                <a href="@Url.Action("Rss")" class="btn btn-default btn-xs">
                    <i class="fa fa-rss-square"></i> RSS
                </a>
            </div>
        </div>

        <br/>

        <div class="list-group">
            @foreach (Term term in ViewBag.Terms)
            {
                <a href="@Url.Action("Term", new {id = term.Name})" class="list-group-item col-sm-6 col-xs-12">@term.Name</a>
            }
        </div>

    </div>
</div>