@{
    ViewBag.Title = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-header">
        <h1>
            Dictionary
            <small>
                Select an item to view explanatory information
                <a href="@Url.Action("Rss")" class="btn btn-default btn-xs">
                    <i class="fa fa-rss-square"></i> RSS
                </a>
            </small>
        </h1>
    </div>

    <br/>

    <div class="row">
        <div class="list-group">
            @foreach (var term in Model)
            {
                <a href="@Url.Action("Term", new {id = term.Name})" class="list-group-item col-sm-6 col-xs-12">@term.Name</a>
            }
        </div>

    </div>
</div>