@using DB.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Term term = ViewBag.Term;
    ViewBag.Title = term.Name;
}

<div id="Term">

    <a href="javascript:history.go(-1)" class="btn btn-default">Back</a> <a href="@term.Source" class="btn btn-default">Source</a>

    <h2>@term.Name</h2>

    <ul>
        @foreach (var paragraph in term.Content)
        {
            <li>
                @Html.Raw(paragraph)
            </li>
        }
    </ul>
</div>