<footer class="footer navbar">
    <div class="container">
        <div class="row vertical-align">
            <div class="col-sm-5 col-xs-12">
                <div class="col-sm-3 col-xs-4">
                    <a href="http://www.acg.edu/programs/">
                        <img class="img-responsive" src="~/Content/img/deree_logo_signature.jpg" alt="DEREE Logo"/>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-4">
                    <a href="http://www.acg.edu/academics/academic-programs/undergraduate/school-of-business/majors-bs/management-information-systems">
                        <img class="img-responsive" src="~/Content/img/MIS_logo.png" alt="MIS Logo"/>
                    </a>
                </div>

                <div class="col-sm-3 col-xs-4">
                    <a href="http://www.acg.edu/academics/academic-programs/undergraduate/school-of-liberal-arts-sciences/majors-ba-or-bs/information-technology">
                        <img class="img-responsive" src="~/Content/img/it_society_logo.jpg" alt="ITSociety Logo"/>
                    </a>
                </div>

            </div>
            <div class="col-sm-7 col-xs-12">
                <div class="pull-right copyright">
                    &copy; Copyright 2015 - @DateTime.Now.Year ITPedia<br/>
                    DEREE-The American College of Greece<br/>
                    Byte Computer SA
                </div>
            </div>
        </div>
    </div>
</footer>