* { font-family: 'Lora', serif; }

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

#logo { margin-top: -8px; }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    margin-bottom: 0;
    padding: 20px 0 40px 0;
    color: #ffffff;
}

.footer img {
    border-radius: 10%;
    max-height: 60px;
}


#main-content { padding-top: 80px; }

/* Logo Texts */
#itpedia-logo-text {
    float: left;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    color: lightblue;
    background-color: #666;
    margin: 5px 5px 0 0;
    border-radius: 0px;
    line-height: 1em;
    padding-right: 2px;
}

#pedia-logo-text {
    color: #666;
    font-weight: bold;
    font-size: 2.1em;
    margin-left: -30px;
    padding-left: -10px;
    line-height: 1.5em;
}
 

#small-line {
    font-size: 0.7em;
    line-height: 1.2em;
    padding-bottom: 5px;
    color: #333;
}


#dic h3 {
    box-shadow: 2px 2px 5px 2px;
}

#itpedia-logo-text-div {
    background: lightblue;
    width: 200px;
    margin: 0 auto;
    border-radius: 0px;
    padding-left: 5px;
    margin-bottom: 30px;
    margin-top: -20px;
}
/* End Logo Text*/

@media (max-width: 768px) {
    .copyright {
        float: left !important;
        padding: 20px 0 20px 10px;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 200px;
    }

    .footer { height: 200px }
}