html,
body {
    height: 100%;
    font-family: 'Lora', serif;
    /* The html and body elements cannot have any padding or margin. */
}

#logo {
    margin-top: -8px;
}

#footer {
    background: #1995dc;
    background-image: none;
    height: auto;
    margin-bottom: 0;
    margin-top: 70px;
    padding-bottom: 0;
}

#wrap {
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
    min-height: 100%;
}

#push { height: 130px; }

#main-content { padding-top: 80px; }

#asdf::first-line {
    color: #666;
    font-weight: bold;
    font-size: 2.1em;
    margin-left:-30px;
    padding-left: -10px;
    line-height:1.5em;
}

.jumbotron h2 + div p::first-letter {
    float: left;
    font-size: 50px;
    font-weight:700;
    font-style:italic;
    color: lightblue;
    background-color: #666;
    margin: 5px -2px 0 0;
    border-radius: 0px;
    line-height: 1em;
}

#asdf::first-letter {
    float: left;
    font-size: 50px;
    font-weight:700;
    font-style:italic;
    color: lightblue;
    background-color: #666;
    margin: 5px 5px 0 0;
    border-radius: 0px;
    line-height: 1em;
    padding-right:2px;
}

#smallLine {
    font-size: 0.7em;
    line-height: 1.2em;
    padding-bottom: 5px;
    color: #333;
}

#Dic h3 {
    box-shadow: 2px 2px 5px 2px;
    padding: 5px;
    max-width: 700px;
    margin: 10px auto 30px;
}



@media (max-width: 770px) {
  #footer {
     text-align: center;
  }
}





