@using DB.Models
@{
    ViewBag.Title = ViewBag.YouSelected2;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Dic">

    <h2 class="dictionary">Select an item to view explanatory information</h2>


    <h3>@Html.ActionLink("RSS", "Rss", "Dictionary", null, new {})</h3>

    <div class="row">
        @foreach (Term term in ViewBag.Terms)
        {
            <div style="padding:10px;" class="table-bordered col-md-6 col-sm-6 col-xs-12">
                @Html.ActionLink(term.Name, "Term", "Dictionary", new { id = term.Name }, null)
            </div>
        }            
    </div>

</div>