@using DB.Models
@{
    ViewBag.Title = ViewBag.YouSelected2;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Dic">

    <h2 class="Dictionary">Select an item to view explanatory information</h2>

    <div class="row">
            <div class="panel panel-primary">
                <ul class="list-group">
                @foreach (Term term in ViewBag.Terms)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(term.Name, "Term", "Dictionary", new { id = term.Name }, null)
                    </li>
                }
                </ul>
            </div>
        </div>
</div>