@using DB.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Term term = ViewBag.Term;
    ViewBag.Title = term.Name;
}


@Html.ActionLink("← (Back)", "Index", "dictionary") | <a href="@term.Source">Source</a>

<h2>@term.Name</h2>

<ol>
    @foreach (var paragraph in term.Content)
    {
        <li>
            @Html.Raw(paragraph)
        </li>
    }
</ol>
