@using DB.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Term term = ViewBag.Term;
    ViewBag.Title = term.Name;
}

@Html.ActionLink("← (Back)", "Index", "Dictionary")

<h2>@term.Name</h2>

<ol>
    @foreach (var paragraph in term.Content)
    {
        <li>
            @paragraph
        </li>
    }
</ol>