html,
body {
    height: 100%;
    color: #404040;
    font-family: Lora, 'Times New Roman', serif;

    /* The html and body elements cannot have any padding or margin. */
}

p {
    color: #404040;
    font-family: Lora, 'Times New Roman', serif;
    font-size: 20px;
}



#footer {
    background: #1995dc;
    background-image: none;
    height: auto;
    margin-bottom: 0;
    margin-top: 70px;
    padding-bottom: 0;
}

#wrap {
    font-size: 1.3em;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
    min-height: 100%;
}

#push { height: 130px; }

#main-content { padding-top: 100px; }

#jumbotron-logo {
    background-color: #1995dc;
    border-radius: 30%;
    margin-top: -30px;
    max-height: 250px;
    max-width: 250px;
    text-align: center;
}

/* dictionary Page */

#Dic {
    color: #404040;
    font-family: Lora, 'Times New Roman', serif;
    font-size: 20px;
}

.dictionary {
    border-bottom-style: ridge;
    padding:10px;
    margin-bottom:40px;
    text-align: center;
    color: #000;
    box-shadow: 0px 2px 10px 0px #404040;
}

#Dic a { color: black; }

#Dic a:link { color: black; }

#Dic a:visited { color: black; }

#Dic a:hover {
    color: #317eac;
    text-decoration: none;
}



/* Term Page */

#Term {
    color: #404040;
    font-family: Lora, 'Times New Roman', serif;
    font-size: 20px;
}


/* Contact Page */

.myTitle { border-bottom-style: ridge; }

.footer-images img {
    border: 0;
    margin-right: 10px;
}

/* Invert the text color based on the background */

.contact-label {
    height: 30px;
    position: relative;
}

.contact-label p {
    font-size: 13px;
    margin: 0px;
    padding: 7px;
    white-space: nowrap;
}

.contact-label > p { color: #317e8a; }

.contact-label > div {
    background-color: red;
    height: 30px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 28px;
}

.contact-label > div > p { color: white; }

/** END Contact Page **/

/* Edit Results Page */

#results li a {
    color:#404040;
}

#results li a:link {
    color:#404040;
}

#results li a:visited {
    color:#404040;
}

#results li a:hover {
    color:#2fa4e7;
    text-decoration: none;
}


/* Overwiting Bootstrap CSS */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { font-size: 1.3em; }

.footer-images > li {
    background: #1995dc;
    display: block;
    margin-left: 15px;
    position: relative;
    text-align: center;
}

#top-navbar {
    font-size:1.5em;
}