html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
}

#push, #footer {
    height: 130px;
}

#main-content {
    padding-top: 100px;
}



/* Contact Page */
.myTitle {
    border-bottom-style: ridge;
}

/* Invert the text color based on the background */
.contact-label { 
    position: relative; 
    height: 30px; 
 }
.contact-label p { 
    padding: 7px;
    margin: 0px;
    font-size: 13px; 
    white-space: nowrap; 
}
.contact-label > p {
    color: #317e8a;
}
.contact-label > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    height: 30px; 
    width: 28px; 
    overflow: hidden;
    background-color: red;
}
.contact-label > div > p { 
    color: white;
}


/* END Contact Page */