html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

#footer {
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: none;
    background: #1995dc;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -130px;
    font-size: 1.3em;
}

#push, #footer {
    height: 130px;
}

#main-content {
    padding-top: 100px;
}

#jumbotron-logo {
    background-color: #1995dc;
    border-radius: 30%;
    max-width:250px;
    max-height:250px;
    text-align: center;
    margin-top: -30px;
}



/* Contact Page */
.myTitle {
    border-bottom-style: ridge;
}

/* Footer */
.footer-images img{
        margin-right: 10px;
        border:0;
}

/* Invert the text color based on the background */
.contact-label { 
    position: relative; 
    height: 30px; 
 }
.contact-label p { 
    padding: 7px;
    margin: 0px;
    font-size: 13px; 
    white-space: nowrap; 
}
.contact-label > p {
    color: #317e8a;
}
.contact-label > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    height: 30px; 
    width: 28px; 
    overflow: hidden;
    background-color: red;
}
.contact-label > div > p { 
    color: white;
}


/* END Contact Page */


/* Overwiting Bootstrap CSS */

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    font-size: 1.3em;
}

.footer-images>li {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    background: #1995dc;
}